@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Yrsa", serif;
}

body{
    background-color: #FFFFFF;
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainHeader{
    padding: 2rem;
    text-align: center;
}

.mainHead{
    font-size: 3rem;
    font-family: "Noticia Text", serif;
    font-weight: 400;
    /* margin: 1rem; */
}

.primarySection{
    display: flex;
    padding: 2% 15%;
}

.primarySection .mapSection{
    width: 40%;
}

.primarySection .currentDetailsSection{
    width: 60%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.weatherBox img{
    width: 200px;
    height: 200px;
    transform: scale(1.7);
}

.upWeatherBox img{
    width: 150px;
    height: 150px;
    transform: scale(1.5);
}

.weatherBox, .componentsBox{
    width: 35%;
    padding: 1rem;
    /* border: 1px solid black; */
    margin: 1rem;
    border-radius: 12px;
    height: 90%;
    font-size: 1.2rem;
    backdrop-filter: blur(10px);
    box-shadow: 1px 2px 10px  #88B9E4;
}
.alignCenter{
    text-align: center;
}

.weatherBox > h3, div, p{
    margin: 0.5rem 0rem;
}

#upComingWeatherBoxes {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    
}

.upWeatherBox{
    width: 250px;
    padding: 1.2rem;
    flex-shrink: 0;  
    backdrop-filter: blur(10px);
    box-shadow: 1px 2px 10px  #55B0DF;
    margin: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}


.componentsBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
}
.time{
    font-size: 1.4rem;
    font-weight: 500;
}

.searchSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchSection #searchBox , .searchSection #placesSelect{
    padding: 0.5rem 1rem;
    border-radius: 8px;
    /* outline: none; */
    border: none;
    margin: 0 1rem;
}

/* select option{
    padding: 0.5rem 1rem;
} */


.hide{
    display: none;
}

#map {
    border-radius: 12px;
    box-shadow: 1px 2px 10px rgba(0, 0 , 0, 0.3);
    height: 100%;
}