<%-include('partials/formHeader.ejs')%>
<body>
    <div id="errPopup" class="errInfo hidden">
        <div id="errMsgContainer" class="errPopup">
            <div id="popupIconContainer">     
            </div>
            <div id="errMsg"></div>
        </div>
    </div>
   <section class="form-section">
    <div class="formHeader">
        <div>
            <img src="/images/logo.png">
            <p id="brand-name">CipherSafe</p>
        </div>
        <div>
            <p>Protect your files securely</p>
        </div>
    </div>
        <form id="signin-form" class="form-container" autocomplete="off">
            <label for="email">Email</label>
            <input class="inputBox" type="email" placeholder="you@example.com" id="email" name="email" required>
            <label for="password">Password</label>
            <input class="inputBox" type="password" placeholder="------" id="password" name="password" required>
            <button type="submit" class="submitBtn">Log In</button>
            <p>Don't have an account? <a href="/signup">sign up</a></p>
        </form>
   </section>
   <footer>

   </footer>
   
   </body>
</html>
