@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body{
    margin-top: 5rem;
    background: #070724 url('/assets/background-stars.svg');
    color: white;
}

.header-section{
    display: flex;
    padding: 1.2rem;
    border-bottom: 1px solid rgba(255, 255 ,255, 0.2);
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navigations ul{
    display: flex;
    column-gap: 2rem;
    list-style: none;
}

.navigations ul a{
    text-decoration: none;
    color: rgba(255, 255 ,255, 0.8);
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 500;
}

.navigations ul li:hover{
    cursor: pointer;
}
.logo a {
    text-decoration: none;
    color: white;
}
.logo h1{
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Antonio", sans-serif;
}

.logo h1:hover{
    cursor: pointer;
}

.main-details-section{
    display: flex;
}

.main-details-section > section{
    width: 50%;
}

.image-section{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-section{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-section > div{
    width: 70%;
    padding: 10%;
}

#planetName{
    font-size: 4.8rem;
    font-weight: 400;
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
}

#aboutPlanet{
    font-size: 1.3rem;
    font-weight: 500;
    font-weight: 300;
    color: rgba(255, 255 ,255, 0.8);
    line-height: 1.3;
    margin-top: 2rem;
    height: 180px;
}
.source{
    font-size: 1.2rem;
    color: rgba(255, 255 ,255, 0.6);
    font-weight: 300;
}

#srcLink{
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: rgba(255, 255 ,255, 0.6);
    text-decoration: underline;
    text-underline-offset: 2px;
}
.planetSrc{
    margin-bottom: 2rem;
    display: flex;
    column-gap: 1rem;
}

#planetNavigation > div{
    display: flex;
    padding: 1rem;
    border: 1px solid rgba(255, 255 ,255, 0.1);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 1rem 0;
}

#planetNavigation > div:hover{
    cursor: pointer;
    background-color: #313148;
}

#planetNavigation > div p:first-child{
    width: 10%;
    color: rgba(255, 255 ,255, 0.6);
    font-size: 1rem;
    letter-spacing: 1px;
}

.description-section{
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
}

.description-section > div{
    width: 17%;
    padding: 1rem 2rem;
    border: 1px solid rgba(255, 255 ,255, 0.1);
}

.description-head{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    color: rgba(255, 255 ,255, 0.6);
    margin: 0.8rem 0;
}

.description-data{
    font-family: "Antonio", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;

}