<header>
    <section id="mainNavBar" class="header-section">
        <section class="logo">
            <a href="/"><h1 data-action="mercury">THE PLANETS</h1></a>
        </section>
        <section class="navigations">
            <ul>
                <% const PLANETS = ['MERCURY','VENUS','EARTH','MARS','JUPITER','SATURN','URANUS','NEPTUNE']  %>
               <% PLANETS.forEach(element => { %>
                    <li><a href='/<%=element.toLowerCase()%>'><%=element %></a></li>
               <% }); %>
            </ul>
        </section>
    </section>
</header>