<nav class="side-nav">
    <div class="logo">
        <div class="icon-container">
            <i class="fa-regular fa-message"></i>
            <span class="app-name">Messenger</span>
        </div>
    </div>
    <label for="ono-chats">Chats</label>
    <div id="ono-chats" class="chats name-box">
        <div class="box-center hidden">
            <p>No chats</p>
        </div>
        <div class="contact active">
            <div class="avatar">S</div>
            <div class="contact-name">Surya</div>
        </div>
        
    </div>
    <label for="groups">Groups</label>
    <div id="groups" class="groups name-box">
        <div class="box-center hidden">
            <p>No groups</p>
        </div>
        
    </div>
    <label for="global-chat">Global</label>
    <div id="global-chat" class="global name-box">
        <div class="box-center hidden">
            <p>No global chat</p>
        </div>
    </div>
</nav>