<footer>
    <section class="footer-bar">
        <section class="footer-logo">
            <h3>CalcHuB</h3>
        </section>
        <section class="copywrites">
            <p>© 2025 CalcHub. All rights reserved.</p>
        </section>
    </section>
</footer>