<script src="https://kit.fontawesome.com/e371a44102.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/styles.css">
<header>
    <section class="header-bar">
      <section class="logo-section">
        <h1>CalcHub</h1>
      </section>
      <section class="nav-section">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tools">Tools</a></li>
            <li><a href="/about">About</a></li>
        </ul>
      </section>  
    </section>
</header>