<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title %></title>
    <link rel="stylesheet" href="/css/form.css">

    <script src="https://kit.fontawesome.com/e371a44102.js" crossorigin="anonymous"></script>
    <script src="/js/authenticationForm.js" type="module" defer></script>
</head>