<section id="permission-box" class="hidden-sections">
    <div class="icon-wrapper">
        <i class="fa-solid fa-file-contract icon"></i>
    </div>
    <h2 class="large-head">Permission Required</h2>
    <p class="content">To encrypt and decrypt your files, CipherSafe needs to read your contents. We value your privacy and want to assure you that your files are never uploaded or stored.</p>
    <div class="button-container">
        <button id="deny-button" data-action="deny">Deny</button>
        <button id="allow-button" data-action="allow">Allow Access</button>
    </div>
</section>