@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

body{
    background-color:#EFF6FF;
    margin: 67px 0;
}

.header-bar{
    display: flex;
    padding: 1rem 5rem;
    height: 67px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-section{
    font-size: 1.5rem;
}

.nav-section ul{
    list-style: none;
    display: flex;
    column-gap: 20px;
}

.nav-section a{
    text-decoration: none;
    color: black;
}

.nav-section ul a:hover{
    cursor: pointer;
    color: #3F6FF3;
}

.home-banner{
    background-color: #3F6FF3;
    color: white;
    padding: 4% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.home-banner h2{
    font-size: 3rem;
    font-weight: 300;
}

.home-banner button{
    padding: 0.6rem 1rem;
    background-color: white;
    border: none;
    border-radius: 20px;
}

.home-banner button:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

}

button:hover, .form-section #bmi-form .custom-button{
    cursor: pointer;
}

.footer-bar{
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 67px;
    background-color: white;
}

.calculators{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

}
.calculators-container{
    display: flex;
    column-gap: 1rem;
    margin: 5%;
}

.calculators-container > div{
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    transition: all 0.8s;
}

.calculators-container > div:hover{
    transition: all 0.8s;
    transform: translateY(-10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
}



.form-section h2{
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.calculator-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    padding: 2rem;
    margin-top: 2%;
}

.form-section label{
    display: block;
}

.form-section input{
    width: 100%;
    padding: 0.5rem 1.3rem;
    font-size: 1.1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 1rem 0;
    background-color: #F9FAFB;
}

.form-section input:focus{
    outline: 1px solid #3F6FF3;
}

.form-section #bmi-form .custom-button{
    background-color: #3F6FF3;
    color: white;
    padding: 0.8rem 1rem;
    text-align: center;
    margin: 1rem 0;
    border-radius: 8px;
}

.form-section #bmi-form .custom-button:hover{
    background-color: #3461e6;
}

.form-section .input-section{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 500px;
    width: 500px;
}

.message-container{
    text-align: center;
}

.fa-spinner{
    animation: spin 0.6s linear infinite;
}

.bmi-score-section{
    padding: 1.5rem;
    text-align: center;
}

.bmi-score-head{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 8px;
}
.bmi-score{
    font-size: 2.1rem;
}

.summary-headers{
    font-weight: 500;
    margin:  8px 0 ;
}

.summary-content{
    text-indent: 10%;
    margin: 0.5rem 0;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{ 
        transform: rotate(360deg);
    }
}

/* Icon Styles */

.icon-container{
    width: 60px;
    height: 70px;
    padding: 1rem;
    border-radius: 8px;
    background-color: #EFF6FF;
}

.fa-calculator{
    font-size: 2.2rem;
    color: #4A7CFF;
}


.hide{
    display: none;
}