<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <script src="/js/script.js" defer></script>
</head>
<body>
    <%-include('./partials/header.ejs') %>
    <main>
        <section class="home-banner">
            <h2>Welcome to CalcHub</h2>
            <h3>Your all-in-one collection of simple, powerful calculators</h3>
            <button>Explore Tools</button>
        </section>
        <section class="calculators">
            <h2>Featured Calculators</h2>
            <p>Choose from our collection of easy-to-use tools</p>
            <section id="calculators" class="calculators-container">
                <div data-value="bmi-calculator">
                    <div class="icon-container">
                        <i class="fa-solid fa-calculator"></i>
                    </div>
                    <h3>BMI Calculator</h3>
                    <p>Calculate your Body Mass Index</p>
                </div>
        </section>
    </main>
    <%-include('./partials/footer.ejs') %>
</body>
</html>