@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body{
    background-color: #000000;
    height: 80vh;
}

.form-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.formHeader > div{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.formHeader{
    margin: 2rem 0;
}

#brand-name{
    font-size: 2rem;
}

.form-container{
    background-color: #0E1119;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

.form-container a{
    color: #F97316;
    text-decoration: none;
}

.forgotPassword{
    display: block;
    
}

.inputBox{
    padding: 0.6rem;
    border-radius: 5px;
    border: 1px solid #2A2A2A;
    background-color: #0D0D0D;
    color: white;
    width: 100%;
}

.inputBox:focus{
    outline: 1px solid #F97316;
    background-color: transparent; 
}

label{
    font-weight: 700;
    margin-bottom: 0.3rem;
    color: white;
}

.submitBtn{
    margin-top: 0.5rem;
    font-family: "Roboto Mono", monospace;
    padding: 0.8rem;
    border-radius: 5px;
    font-weight: 900;
    font-size: 0.9rem;
    border: none;
    background-color: #F97316;
    color: white;
    width: 100%;
}

.submitBtn:hover{
    background-color: #EA580C;
    cursor: pointer;
}

.errInfo{
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    width: 100%;
    animation: pop-down 0.5s linear;
}

@keyframes pop-down {
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.err{
    background-color: rgba(249, 115, 22, 0.35);
}

.info{
    background-color: #F97316;
}

.errPopup{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.fa-circle-exclamation, .fa-face-smile{
    margin-right: 1rem;
    color: "#FFF7ED";
}



.hidden{
    display: none;
}